.notification-body {
    position: absolute;
    width: 350px;
    height: 530px;
    right: 45%;
    // display: none;
    background-color: white;
    z-index: 5;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    text-align: "start";

    p {
        text-align: start;
    }
}

.pos {
    position: relative;
    height: 300px;
    padding: 0;
    overflow: auto;
}
/* Works on Chrome, Edge, and Safari */
.pos::-webkit-scrollbar {
    width: 12px;
}

.checkout_btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: space-between;
    align-content: center;
    text-align: center !important;
    font-size: 14px;

    p {
        text-align: center;
    }
}
.total {
    width: 95%;
    display: flex;
    font-weight: 600;
    flex-direction: row;
    color: black;
    justify-content: space-between;
    align-content: center;
}
@media only screen and (max-width: 800px) {
    .notification-body {
        right: 38%;
    }
}
