.card_layout {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid hsl(0, 0%, 90%);
    padding: 3rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-height: 200px;
}

.items {
    text-align: start;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    justify-content: space-between;
}
