.template {
    height: 100%;
    width: 65%;
    background-color: white;
    margin: 0 auto;
    position: relative;
}

.notification {
    position: fixed;
    left: 0;
    width: 150%;
    height: 100%;
    top: 105px;
    background-color: rgba(128, 128, 128, 0.377);
}
